{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student - Edit Request</title>
        
        <!--
            Author: James La Fontaine, Callum Sharman
            Date Last Modified: October 11, 2023
            Description: This is the page on which students can edit an active request
        -->
        
        <!-- CSS stylesheets -->
        <style>
            .pageAsATable{
                display: grid;
                grid-template-columns: 70% 1fr;
            }
            .textBox{
                height:20px
            }
            .expandableBox{
                width:90%
            }
        </style>

        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables.css' %}">
        
        
        
        <!-- Include Bootstrap CSS and JavaScript, and its dependencies such as Popper. Also include jQuery JavaScript -->
        
        <!-- Bootstrap CSS and JavaScript provided by Bootstrap. Visit https://getbootstrap.com/ for more information. -->
        <!-- jQuery and Popper JavaScript provided by jQuery and PopperJS. Visit https://jquery.com/ and https://popperjs.com/ for more information. -->
        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
        
        <!-- JS scripts -->
        <script type="text/javascript"
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
        <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" 
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>
        <script type="text/javascript" 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>


    </head>
    <body>

        <!-- div to hold data passed from the view -->
        <div id="load-thread-id" data-thread-id="{{ thread_id }}"></div>

        <div id="webHeaderContainer"></div>

        <div class="mainBody" style="width: 90%;">
            <div class="pageAsATable">
                <div class="leftSide">

                    <p class="title">Edit your request</p>
                    <br>
                    <div class="expandableBox" data-bs-toggle="collapse" data-bs-target="#expandableBoxSection">
                        <div class="expandableBoxContents" data-bs-toggle="collapse" data-bs-target="#expandableBoxSection">Selected Request
                            <span class="expandButton" data-bs-toggle="collapse" data-bs-target="#expandableBoxSection"></span>
                        </div>
                    </div>

                    <div class="collapse show" id="expandableBoxSection" style="height:auto">
                        <span class="text">Message</span>
                        <br>
                        <textarea class="textBox" id="messageTextBox"></textarea>
                        <br><br>
                        <p class="text">Supporting Documents</p>
                        <div id="suppDocContainer"></div>
                    </div>

                    
                </div>
                <div class="rightSide">
                    <button class="bigButton" id='editButton' style="position: fixed; margin-top: 60px;">
                        Submit edit
                    </button>
                </div>
            </div>
        </div>
        <script src="{% static 'js/modules/data.js' %}"></script>
        <script src="{% static 'js/modules/webHeader.js' %}"></script>
        <script src="{% static 'js/modules/styleMode.js' %}"></script>
        <script>createHeader("student")</script>
        <script src="{% static 'js/modules/requests.js' %}"></script>

        <script>
            
            // read in thread id from the provided data
            let threadId = JSON.parse(document.getElementById('load-thread-id').getAttribute('data-thread-id'));

            var req1 = {
                requestId: 987654,
                creationDate: '10/10/2012',
                resolveDate: '15/10/2012',
                reserved: false,
                course: 'COMP30022 - IT Project',
                assessment: 'Project 1',
                requestType: 'Extension',
                requestTitle: 'Project 1 Extension Request',
                message: 'I am sick ;\'( why must misfortune happen to me',
                status: 'Active',
                instructorNotes: 'Rejected because medicalcertificate.pdf is a handwritten illegible letter begging for sympathy'
            };
    
            const suppDocs = [
                {
                    name: 'iamsick.pdf',
                    size: '20 TB'
                },
                {
                    name: 'bible.pdf',
                    size: '40 MB'
                },
                {
                    name: 'medcert.pdf',
                    size: '3 MB'
                }
            ]

            var prevVersions = [
            {
                date: "2011/09/24",
                message: "The power has died!! :(",
                documents: [
                    { name: "iamsick.pdf", size: "20 TB" },
                    { name: "bible.pdf", size: "40 MB" }
                ]
            },
            {
                date: "2011/09/23",
                message: "Haven't thought of an excuse yet.",
                documents: [
                    { name: "bible.pdf", size: "40 MB" }
                ]
            }
            ];



            // Handle edit button being clicked
            var editButton = document.getElementById('editButton');

            editButton.addEventListener('click', function() {
                saveEdits(req1, prevVersions);

                window.location.href = '/student/';
            });


            // Handle supporting documentation tables


        </script>
    </body>
</html>