{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    </head>
    <body>
        <div class="header">
            <!-- menu -->
            <div class="dropDown">
                <div class="dropDownBtn">
                    <div class="dDBLine"></div><div class="dDBLine"></div><div class="dDBLine"></div>
                </div>
                <div class="dropDownMenu">
                    <div class="dDSection" onclick="window.location.href='/student'">
                        <p class="dDSectionText">Home</p>
                    </div>
                    <div class="dDSection" onclick="window.location.href='/student/submit-req'">
                        <p class="dDSectionText">Submit a request</p>
                    </div>
                    <div class="dDSection" onclick="window.location.href='/student/cases'">
                        <p class="dDSectionText">View all cases</p>
                    </div>
                    <div class="dDSection" onclick="window.location.href='/student/AAPs'">
                        <p class="dDSectionText">View AAPs</p>
                    </div>
                </div>
            </div>


            <img src="{% static 'img/uomLogo.JPG' %}" style="height: 38px;">
            <div class="headerText">Signed in as:_____</div>

            <!-- settings -->
            <div class="dropDown settings">
                <div class="dropDownBtn" style="display: flex;">
                    <img class="settingsBtn" src="{% static 'img/settingsIcon.png' %}" style="align-self: center;">
                </div>
                <div class="dropDownMenu inwards">
                    <div class="dDSection" style="display:flex; justify-content: flex-end; padding-right:10px">
                        <p class="dDSectionText">Email notifications</p>
                        <input type="checkbox" style="width: 17px;height: 17px;">
                    </div>
                    <div class="dDSection" style="display:flex; justify-content: flex-end; padding-right:10px">
                        <p class="dDSectionText">Dark mode</p>
                        <input type="checkbox" style="width: 17px;height: 17px;">
                    </div>

                </div>
            </div>
        </div>
        
        <div class="mainBody">
            <button id="createCaseButton">test button lol</button>

            <script>
                document.getElementById("createCaseButton").addEventListener("click", function () {
                    // Data to be sent in the POST request
                    const reqData = {
                        name: "New Case",
                        description: "This is a new case.",
                    };

                    // Send a POST request to your Django server
                    fetch('/student/new-request/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json', // Set the content type to JSON
                        },
                        body: JSON.stringify(reqData), // Convert the data to JSON string
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json(); // Parse the response JSON if successful
                        }
                        throw new Error('Network response was not ok');
                    })
                    .then(data => {
                        console.log(data); // Process the response data
                        // You can update the DOM or perform other actions here
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                });
            </script>





            <p class="title">Get Started</p>
            <p class="text">Did anything unexpected happen to you, 
                or do you have a question not suited for dicussion boards?
            </p>
            <button class="standardButton" onclick="window.location.href='/student/submit-req'">Submit a request</button>
            <p class="text"> If you'd like to review or edit your cases, or any
                Academic Adjustment Plans that you might have, click below:
            </p>
            <button class="standardButton" onclick="window.location.href='/student/cases'">View Cases</button>
            <button class="standardButton" onclick="window.location.href='/student/AAPs'">View AAPs</button>
            <p class="title">Active Cases</p>

            <div class="expandableBox">
                <div class="expandableBoxContents">
                    Case #100296 Last updated 11/09/24
                    <span class="expandButton">
                        4/4 Waiting for Action, 0/4 Approved, 0/4 Rejected -
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #293594 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Waiting for action
                        <button class="standardButton" onclick="window.location.href='/student/view-req/1'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #293593 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Waiting for action
                        <button class="standardButton" onclick="window.location.href='/student/view-req/2'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #293592 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Waiting for action
                        <button class="standardButton" onclick="window.location.href='/student/view-req/1'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #293591 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Waiting for action
                        <button class="standardButton" onclick="window.location.href='/student/view-req/1'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
            <p></p>
            


            <div class="expandableBox">
                <div class="expandableBoxContents">
                    Case #100102 Last updated 11/08/23
                    <span class="expandButton">
                        1/3 Waiting for Action, 2/3 Approved, 0/3 Rejected -
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #245602 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Approved
                        <button class="standardButton" onclick="window.location.href='/student/view-req/1'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #245601 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Waiting for action
                        <button class="standardButton" onclick="window.location.href='/student/view-req/1'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
            <div class="expandableBoxSection">
                <div class="expandableBoxContents">
                    #245600 COMP30022 Name of Assessment
                    <span class="rightItems">
                        Approved
                        <button class="standardButton" onclick="window.location.href='/student/view-req/1'">
                            View Details
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>