{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'general.css' %}">
        <link rel="stylesheet" href="{% static 'header.css' %}">
        <link rel="stylesheet" href="{% static 'tables.css' %}">
    </head>
    <body>
        <div class="header">
            <!-- menu -->
            <div class="dropDown">
                <div class="dropDownBtn">
                    <div class="dDBLine"></div><div class="dDBLine"></div><div class="dDBLine"></div>
                </div>
                <div class="dropDownMenu">
                    <div class="dDSection" onclick="window.location.href='/student'">
                        <p class="dDSectionText">Home</p>
                    </div>
                    <div class="dDSection" onclick="window.location.href='/student/submit_req'">
                        <p class="dDSectionText">Submit a request</p>
                    </div>
                    <div class="dDSection" onclick="window.location.href='/student/cases'">
                        <p class="dDSectionText">View all cases</p>
                    </div>
                    <div class="dDSection" onclick="window.location.href='/student/AAPs'">
                        <p class="dDSectionText">View AAPs</p>
                    </div>
                </div>
            </div>


            <img src="{% static 'uomLogo.JPG' %}" style="height: 38px;">
            <div class="headerText">Signed in as:_____</div>

            <!-- settings -->
            <div class="dropDown settings">
                <div class="dropDownBtn" style="display: flex;">
                    <img class="settingsBtn" src="{% static 'settingsIcon.png' %}" style="align-self: center;">
                </div>
                <div class="dropDownMenu inwards">
                    <div class="dDSection" style="display:flex; justify-content: flex-end; padding-right:10px">
                        <p class="dDSectionText">Email notifications</p>
                        <input type="checkbox" style="width: 17px;height: 17px;">
                    </div>
                    <div class="dDSection" style="display:flex; justify-content: flex-end; padding-right:10px">
                        <p class="dDSectionText">Dark mode</p>
                        <input type="checkbox" style="width: 17px;height: 17px;">
                    </div>

                </div>
            </div>
        </div>
        
        <div class="mainBody">
            <p class="title">Academic Adjustment Plans</p>
        </div>
    </body>
</html>