{% load static %}

<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>Choose your character:</p>
        <p>Jun Youn - Student for IT Project, Models of Computation and Modern Applied Statistics</p>
        <p>Callum Sharman - Tutor for IT Project, Subject Coordinator for MoC</p>
        <p>Ryan Goh - Subject Coordinator for IT Project, Tutor for MoC</p>
        <select id="idSelection"></select>
        <button id="loginButton">login</button>
    </body>
    <script type="module" src="{% static 'js/app.js' %}"></script>
    <script type="module">
        import { loginPage } from "{% static 'js/app.js' %}";
        loginPage();
    </script>
</html>