{% load static %}

<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>ids 1,2 are example students, ids 3,4 are example instructors</p>
        <p>currently user2 does not have enough fake data to provive full experience</p>
        <label>select id:</label>
        <select id="idSelection">
        </select>

        <button onclick="setId()">set id</button>
        <button onclick="login()">login</button>
        <p id="testSetUsr"></p>

    </body>

    <script src="{% static 'js/modules/globalReqHeader.js' %}"></script>

    <script>
        let globalAppHeaders = new Headers();
        globalAppHeaders.append(CONTENT_TYPE, 'application/json');
        globalAppHeaders.append('user_id', '');
        sessionStorage.setItem('globalAppHeaders', JSON.stringify(Object.fromEntries(globalAppHeaders.entries())));

        for (let i = 1; i <= 4; i++) {
            const option = document.createElement('option');
            option.textContent = i;
            document.getElementById('idSelection').appendChild(option);
        }

    </script>

    <script>
        function setId(){
            var selectedElem = document.getElementById("idSelection");
            var selectedIndex = selectedElem.selectedIndex;
            var selectedOption = selectedElem.options[selectedIndex];
            var selectedValue = selectedOption.value;
            setGlobalAppHeaders('user_id', selectedValue);
        }
        function login(){
            var url = getGlobalAppHeadersValue('user_id') <= 2 ? '/student/' : '/instructor/';
            window.location.href = url;
        }
    </script>

</html>