{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructor - webHeader</title>
        
        <!--
            Author: James La Fontaine, Callum Sharman
            Date Last Modified: October 11, 2023
            Description: This represents the header for the instructor view
        -->

        <!-- CSS stylesheets -->
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables.css' %}">
        
    </head>
    <body>

        <script src="{% static 'js/modules/globalReqHeader.js' %}"></script>
        
        <div class="header">
            <!-- menu -->
            <div class="dropDown home">
                <div class="dropDownBtn" style="display: flex; width:30px">
                    <img class="homeBtn" src="{% static 'img/homeIcon.png' %}" style="align-self: center;" onclick="window.location.href='/instructor/'">
                </div>
            </div>
        
            <img src="{% static 'img/uomLogo.JPG' %}" style="height: 38px;">
            <div class="headerText" id="headerText">Signed in as:</div>
        
            <!-- settings -->
            <div class="dropDown settings">
                <div class="dropDownBtn" style="display: flex;">
                    <img class="settingsBtn" src="{% static 'img/settingsIcon.png' %}" style="align-self: center;">
                </div>
                <div class="dropDownMenu inwards">
                    <div class="dDSection" style="display:flex; justify-content: flex-end; padding-right:10px">
                        <p class="dDSectionText">Email notifications</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="emailNotifCheckBox">
                        </div>
                        
                    </div>
                    <div class="dDSection" style="display:flex; justify-content: flex-end; padding-right:10px">
                        <p class="dDSectionText">Dark mode</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="darkModeCheckBox">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/modules/webHeader.js' %}"></script>

        <script>
            
        </script>
    </body>
</html>