{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructor - Review Request</title>

        <!--
        Author: James La Fontaine, Callum Sharman
        Date Last Modified: October 8, 2023
        Description: This is the page on which instructors can review a selected active request
        -->

        <!-- CSS stylesheets -->
        <style>
            .pageAsATable {
                display: grid;
                grid-template-columns: 70% 1fr;
            }
        </style>

        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables.css' %}">
        <link rel="stylesheet" href="{% static 'css/popups.css'%}">



        <!-- Include Bootstrap CSS and JavaScript, and its dependencies such as Popper. Also include jQuery JavaScript -->

        <!-- Bootstrap CSS and JavaScript provided by Bootstrap. Visit https://getbootstrap.com/ for more information. -->
        <!-- jQuery and Popper JavaScript provided by jQuery and PopperJS. Visit https://jquery.com/ and https://popperjs.com/ for more information. -->
        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">

        <!-- JS scripts -->
        <script type="text/javascript"
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
        <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" 
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>
        <script type="text/javascript" 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>
    </head>
    <body>

        <!-- div to hold data passed from the view -->
        <div id="load-thread-id" data-thread-id="{{ thread_id }}"></div>

        <div id="webHeaderContainer"></div>
        
        <!----------------------------- Popup HTML starts here ----------------------------->

        <!-- Approve Extension Popup -->
        <div id="approveExtPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Approve Extension
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesAExt" placeholder="Enter your reasoning here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <span class="text" style="margin:10px">Current Deadline</span>
                        <span class="text" style="margin:10px">Default Extension</span>
                        <br>
                        <textarea class="textBox" id="currentDeadline" style="margin-right: 30px; margin-top: 10px; width:20%; height:30px; resize:none; text-align:center" readonly></textarea>
                        <textarea class="textBox" id="defaultExtension" style="margin-left: 30px; margin-top: 10px; width:20%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <div style="text-align:center">
                        <br><br>
                        <label for="extensionOverride" class="text">Override Extension:</label>
                        <select id="extensionOverrideAExt">
                        </select>
                        <span class="text" style="font-weight:normal">day(s)</span>
                    </div>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <p class="text">Student Selected Assessment</p>
                        <textarea class="textBox" id="selectedAssessmentAExt" style="margin: 10px; width:60%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <br><br>
                    <div class="popupButton" id="popupApproveButtonExt">Approve</div>
                    <br>
                </div>
            </div>
        </div>
        
        <!-- Reject Extension Popup -->
        <div id="rejectExtPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Reject Extension
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesRExt" placeholder="Enter your reasoning here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                        <p class="text">Student Selected Assessment</p>
                        <textarea class="textBox" id="selectedAssessmentRExt" style="margin: 10px; width:20%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <br>
                    <div class="popupButton" id="popupRejectButtonExt">Reject</div>
                    <br>
                </div>
            </div>
        </div>

        <!-- Query / Other Answer Popup -->
        <div id="answerPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Answer Request / Query
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesAns" placeholder="Enter your response here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <div class="popupButton" id="popupAnswerButton">Answer</div>
                    <br>
                </div>
            </div>
        </div>

        <!-- Approve Remark Popup -->
        <div id="approveRemPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Approve Remark
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesARem" placeholder="Enter your reasoning here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                        <p class="text">Student Selected Assessment</p>
                        <textarea class="textBox" id="selectedAssessmentARem" style="margin: 10px; width:20%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <br>
                    <div class="popupButton" id="popupApproveButtonRem">Approve</div>
                    <br>
                </div>
            </div>
        </div>

        <!-- Reject Remark Popup -->
        <div id="rejectRemPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Reject Remark
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesRRem" placeholder="Enter your reasoning here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                        <p class="text">Student Selected Assessment</p>
                        <textarea class="textBox" id="selectedAssessmentRRem" style="margin: 10px; width:20%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <br>
                    <div class="popupButton" id="popupRejectButtonRem">Reject</div>
                    <br>
                </div>
            </div>
        </div>

        <!-- Approve Quiz Code Popup -->
        <div id="approveQuizPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Approve Quiz Code
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesAQui" placeholder="Enter your reasoning here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                        <p class="text">Student Selected Assessment</p>
                        <textarea class="textBox" id="selectedAssessmentAQui" style="margin: 10px; width:20%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <br>
                    <div class="popupButton" id="popupApproveButtonQui">Approve</div>
                    <br>
                </div>
            </div>
        </div>

        <!-- Reject Quiz Code Popup -->
        <div id="rejectQuizPopup" class="popupBox">
            <div class="popupContent">
                <div class="popupHeaderBox">
                    <span class="popupHeaderContents">Reject Quiz Code
                        <button class="closePopup" style="justify-self:end">X</button>
                    </span>
                </div>
                <div class="popupBody">
                    <br>
                    <div style="text-align:center">
                        <p class="text">Instructor Notes</p>
                        <textarea class="textBox" id="instructorNotesRQui" placeholder="Enter your reasoning here..." style="margin: 10px; width:80%; height:90px; resize:none"></textarea>
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                        <p class="text">Student Selected Assessment</p>
                        <textarea class="textBox" id="selectedAssessmentRQui" style="margin: 10px; width:20%; height:30px; resize:none; text-align:center" readonly>Project 1</textarea>
                    </div>
                    <br>
                    <div class="popupButton" id="popupRejectButtonQui">Reject</div>
                    <br>
                </div>
            </div>
        </div>

        <!----------------------------- Popup HTML ends here ----------------------------->

        <div class="mainBody" style="width: 90%;">

            <div class="pageAsATable">
                
                <div class="leftSide">
                    <p class="title" id="requestNum"></p>
                    <p class="title" id="versionNum" style="font-size:25px"></p>
                    <p class="text" id="dates"></p>
                    <br>
                    <p class="text">Course</p>
                    <textarea class="textBox" id="course" style="height:30px; resize:none" readonly></textarea>

                    <p class="text">Assessment</p>
                    <textarea class="textBox" id="assessment" style="height:30px; resize:none" readonly></textarea>

                    <p class="text">Request Type</p>
                    <textarea class="textBox" id="requestType" style="height:30px; resize:none" readonly></textarea>

                    <p class="text">Request Title</p>
                    <textarea class="textBox" id="requestTitle" style="height:30px; resize:none" readonly></textarea>

                    <p class="text">Message</p>
                    <textarea class="textBox" id="message" style="height:120px; resize:none" readonly>
                    </textarea>

                    <p class="text">Status</p>
                    <textarea class="textBox" id="status" style="height:30px; resize:none" readonly></textarea>
                    
                    <p></p>

                    <p class="text">Supporting Documents</p>

                    <div id="suppDocContainer">
                        <table>
                            <!-- Supporting documentation will be dynamically added here -->
                        </table>
                    </div>

                    <br><br>

                    <p class="title" style="font-size:24px">Request History</p>

                    <div id="requestHistoryContainer">
                        <!-- Request history will be added here dynamically -->
                    </div>

                </div>

                <div class="rightSide" style="text-align: center;">
                    <br><br>
                    <p class="title" style="font-size: 24px; text-align: center;">Student Details</p>
                    <div style="display: inline-block; text-align: center;">
                        <p class="standardBox" style="width: 300px; height: 200px;">
                            <span class="text" id="studentName"></span>
                            <span class="text" id="studentId"></span>
                            <span class="text" id="studentEmail" style="font-size: 14px;"></span>
                            <span>
                                <button class="standardButton" onclick=toProfile()>
                                    View Profile
                                </button>
                            </span>
                        </p>
                    </div>
                    <br><br><br><br>
                    <div style="text-align: center; width: fit-content; margin: 0 auto;">
                        <div>
                            <p class="bigButton" id="reserveButton">
                                Mark as complex
                            </p>
                            <p class="bigButton" id="answerButton" data-target="answerPopup">
                                Answer
                            </p>
                            <p class="bigButton" id="approveButton">
                                Approve Request
                            </p>
                            <p class="bigButton" id="rejectButton">
                                Reject Request
                            </p>
                            <p class="bigButton" onclick=back()>
                                Back
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/modules/data.js' %}"></script>
        <script src="{% static 'js/modules/webHeader.js' %}"></script>
        <script src="{% static 'js/modules/styleMode.js' %}"></script>
        <script>createHeader("instructor")</script>
        <script src="{% static 'js/modules/requests.js' %}"></script>
        <script src="{% static 'js/modules/buttons.js' %}"></script>
        <script>

            // read in thread id from the provided data
            let threadId = JSON.parse(document.getElementById('load-thread-id').getAttribute('data-thread-id'));
            

            // Fill information relating to the current request from the database
            fillCurrentRequestInformation(threadId, 'Instructor');

            // Generate the supporting documentation for the current version of request
            generateSuppDocTable(suppDocs, '');

            // generate a list of all previous versions of a thread
            sGetPreviousVersions(threadId)
                .then(prevVersions => {
                    // Generate version boxes for all request prevVersions in the data
                    for (let i = 0; i < prevVersions.length; i++) {
                        generateVersionBox(prevVersions[i], prevVersions.length - i)
                    }
                })
            loadThread(threadId)
                .then(thread => {
                    handleComplexRequestFunctionality(thread);
                })

        </script>
        <script src="{% static 'js/modules/popups.js' %}"></script>
        <!-- Popup related JS -->
        <script>

            setupOpenClosePopupButtons();
            loadThread(threadId)
                .then(thread => {
                    populatePopups(thread);
                    HideAndDisplayButtons(thread);
                    handleApprovalRejectionAnswer(thread);
                })
            
        </script>
        <!-- Student Details Box Population -->
        <script src="{% static 'js/modules/studentDetails.js' %}"></script>
        <script>
            iloadStudentDetails(threadId)
                .then(student => {
                    fillStudentDetailsBox(student);
                })
            function toProfile(){
                redirectToProfile(threadId);
            }
            function back(){
                loadThread(threadId)
                    .then(thread => {
                        redirectToViewReqs(thread.course_id)
                    })
            }
        </script>
    </body>
</html>
