{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Instructor - Subject Settings</title>
        <!--
            Author: James La Fontaine, Callum Sharman
            Date Last Modified: October 18, 2023
            Description: This is the page on which instructors can modify settings for a subject such as template responses,
            default extensions, maximium extensions, and tutor and subject coordinator permissions
        -->
        <!-- CSS stylesheets -->
        <style>
            .subTitle {
                font-weight: bold;
            }
            .custom-table input[type="checkbox"] {
                transform: scale(3); /* Increase checkbox size */
            }
            .custom-table th,
            .custom-table td:first-child {
                font-size: 20px; /* Set font size for headers and first column */
            }
        </style>
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/tables.css' %}">

        <!-- Include Bootstrap CSS and JavaScript, and its dependencies such as Popper. Also include jQuery JavaScript -->
        <!-- Bootstrap CSS and JavaScript provided by Bootstrap. Visit https://getbootstrap.com/ for more information. -->
        <!-- jQuery and Popper JavaScript provided by jQuery and PopperJS. Visit https://jquery.com/ and https://popperjs.com/ for more information. -->
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
        <!-- JS scripts -->
        <script type="text/javascript"
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
        <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
        <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="webHeaderContainer"></div>
        <div class="mainBody">
            <p class="title" id="title"> Subject Settings</p>
            <br>
            <p class="h4" style="font-weight:bold">Extension Settings</p>
            <br>
            <div>
                <label for="assessmentDropdown" style="font-size:20px;">Assessment:</label>
                <select id="assessmentDropdown" style="font-size:20px;">
                </select>
                </span>
            </div>
            <br>
            <span>Default extension length: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" size="2" placeholder="3">
                days&nbsp;&nbsp;&nbsp;
                <button class="standardButton">
                    Save
                </button>
            </span>
            <br><br>
            <span>Maximum extension length: <input type="text" size="2" placeholder="10">
                days&nbsp;&nbsp;&nbsp;
                <button class="standardButton">
                    Save
                </button>
            </span>
            <p></p>
            <br><br><br>
            <p class="h4" style="font-weight:bold">Instructor Permissions & Response Templates</p>
            <p></p>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Request Type</th>
                        <th class="thin-column">Tutor</th>
                        <th class="thin-column">Reservable for SC</th>
                        <th>Template Response</th>
                    </tr>
                </thead>
                <tbody>
                    <!--row2-->
                    <tr>
                        <td>Extension</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td>
                            <textarea class="textBox" placeholder="Your extension has been approved"></textarea>
                            <button class="standardButton">Edit</button>
                            <br>
                            <textarea class="textBox" placeholder="Your extension has been rejected"></textarea>
                            <button class="standardButton">Edit</button>
                        </td>
                    </tr>
                    <!--row3-->
                    <tr>
                        <td>General Query</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                            <br>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                        </td>
                    </tr>
                    <!--row4-->
                    <tr>
                        <td>Remark</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                            <br>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                        </td>
                    </tr>
                    <!--row5-->
                    <tr>
                        <td>Quiz Code</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                            <br>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                        </td>
                    </tr>
                    <!--row6-->
                    <tr>
                        <td>Other</td>
                        <td><input type="checkbox"></td>
                        <td><input type="checkbox"></td>
                        <td>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                            <br>
                            <textarea class="textBox" placeholder="Lorem ipsum dolor sit amet"></textarea>
                            <button class="standardButton">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p></p>
        </div>
        <script src="{% static 'js/modules/webHeader.js' %}"></script>
        <script>
            // Put subject code at start of title
            subjectCode = "COMP30022";
            const myElement = document.getElementById("title").innerHTML =
            subjectCode + document.getElementById("title").innerHTML;
        </script>
        <script src="{% static 'js/modules/subjectSettings.js' %}"></script>
        <script>
            // Populate assignments dropdown
            assessmentList = [
                'Project 1',
                'Project 2',
                'Mid Semester Test'
            ]
            var extensionSettings = [
                {
                    assName: 'Project 1',
                    defaultExtension: 3,
                    maxExtension: 10
                },
                {
                    assName: 'Project 2',
                    defaultExtension: 5,
                    maxExtension: 7
                },
                {
                    assName: 'Mid Semester Test',
                    defaultExtension: 1,
                    maxExtension: 3
                },
                {
                    assName: 'Dummy',
                    defaultExtension: 2,
                    maxExtension: 1
                }
            ]
            var requestPerms = [
            ]
            populateAssessmentDropdown(assessmentList);
        </script>
    </body>
</html>